<footer class="banner">
    <h6>© 2025 Guess That Song</h6>
    <audio id="sound" src="../../audio/mouseclick.mp3">Your browser does not support the audio element.</audio>
    <script type="text/javascript" src="../../scripts/main.js"></script>
</footer>