<header class="banner">
    <nav>
        <a href="/">HOME</a>
        <a href="/play">PLAY</a>
        <div id="profile-icon">
            <img src="../../img/profile.png" alt="profile-icon">
        </div>
    </nav>
</header>