<script type="text/javascript" src="../../scripts/create.js"></script>
 
<div class="page">
    <h2>Guess That Song</h2>
</div>
 
<div class="popup">
    <p>Are you sure?</p>
    <div class="button-container">
        <button id="back">No, keep editing</button>
        <button id="confirm">Yes, create quiz</button>
    </div>
</div>
 
<button id="finish" class="next">Finish</button>



