<script type="text/javascript" src="../../scripts/create.js"></script>
 
<div class="page">
    <h2>Guess That Song</h2>
    <!-- <form id="settings" action="POST"> -->
        <div id="settings-container" class="container">
            <h2 style="color: black; text-align: center;">Game Settings</h2>
            <div class="answer-container">
                <button class="answer-choice">Setting 1</button>
                <button class="answer-choice">Setting 2</button>
                <button class="answer-choice">Setting 3</button>
                <button class="answer-choice">Setting 4</button>
                <button class="answer-choice">Setting 5</button>
            </div>
        </div>
    <!-- </form> -->
    <button id="finish" class="next">Finish</button>
</div>
 
<div class="popup">
    <p>Are you sure?</p>
    <div class="button-container">
        <button id="back">No, keep editing</button>
        <button id="confirm">Yes, create quiz</button>
    </div>
</div>

