<script type="text/javascript" src="../../scripts/create.js"></script>
 
<div class="page">
    <h2>Guess That Song</h2>
    <!-- <form id="settings" action="POST"> -->
        <div id="settings-container" class="container">
            <h2 style="color: black; text-align: center;">Game Settings</h2>
        <div class='number-slider-label' style="display: block; text-align: center;">Number of Questions</div>
            <div id="number-slider" class='configuration'>
                <div class='number-slider' id='number-slider'>
                    <div class='number-slider-track' id='number-slider-track'></div>

                    <div class='number-slider-knob' id='number-slider-knob'>
                        <div class='number-slider-value' id='number-slider-value'>3</div>
                    </div>

                    <div class='number-slider-numbers'>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                    </div>
                </div>
            </div>
        </div>
    <!-- </form> -->
    <button id="finish" class="next">Finish</button>
</div>
 
<div class="popup">
    <p>Are you sure?</p>
    <div class="button-container">
        <button id="back">No, keep editing</button>
        <button id="confirm">Yes, create quiz</button>
    </div>
</div>

