<script type="text/javascript" src="../../scripts/home.js"></script>
<h1>Guess That Song</h1>

<div id="homepage-options">
    <div id="create-container" class="homepage-container">
        <p>Create a Game</p>
        <br>
        <button id="create-game" type="submit">CREATE</button>
    </div>
    
    <div id="join-container" class="homepage-container">
        <p>Join a Game</p>
        <br>
        <input id="game-code" type="text" placeholder="Enter game code">
        <button id="join-game" type="submit">PLAY</button>
    </div>
</div>