<script type="text/javascript" src="../../scripts/home.js"></script>

<h1>Guess That Song</h1>


<div class="question-container">
    <h2>Guess this song</h2>
    <br>

    <div class="music-player">
        <br>
    </div>
    <br>

    <div class="answer-container">
        <button id="option1" class="answer-choice">OPTION 1</button>
        <button id="option2" class="answer-choice">OPTION 2</button>
        <button id="option3" class="answer-choice">OPTION 3</button>
        <button id="option4" class="answer-choice">OPTION 4</button>
    </div>
</div>
