<script src="/socket.io/socket.io.js"></script>
<h1>Guess That Song</h1>

<div class="question-container">
    <h2>Guess this song</h2>
    <p>"what is the title of the song?</p>
    <input id="users-answer" type="text" placeholder="">

    <div class = "audio">
        <audio id="player"></audio>
        <button id="rePlay">RePlay</button>
    </div>
    <!-- This is supposed to be for the main person to click to move to the next song -->
    <button id='Next Song' style="display: none">Next Song</button>

    <div id="songs"></div>
</div>

<script src="../../scripts/play.js"></script>
