<script src="/socket.io/socket.io.js"></script>
<h1>Guess That Song</h1>

<div class="question-container" style="width: 600px; margin: auto;">
    <span>
        <div class = "audio">
            <audio id="player"></audio>
            <br>
            <button id="play-song" style="float:left;">Play Song</button>
        </div>
        <button id="next-song" style="float:right; display: none;">Next Song</button>
    </span>

    <br><br><br>

    <h2 id="song-num">Song 1</h2>
    <input id="guess" type="text" style="width: 70%; text-transform: none;">
    <button id="submit" type="submit">Submit</button>

    <h2 id="compare-guess"></h2>
    <h2 id="compare-correct"></h2>
    <h2 id="validate"></h2>

    <div id="songs"></div>
</div>

<script src="../../scripts/play.js"></script>
