<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="../../scripts/waiting.js"></script>
 
<h1 id="game-code">Joined Game: {code}</h1>
 
<div class="question-container">
    Players in:<div id="player-count"></div>
    <label for="display-name">Name:</label>
    <input id="display-name" type="text" placeholder="Enter your display name">
    <button id="is-ready">Ready</button>
    <button id='play'>Play</button>
    <div class="message error"></div>
</div>

<ul id="player-list"></ul>




