<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="icon" href="../../img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script type="text/javascript" src="../../scripts/main.js"></script>
    
    <title>Guess that Song</title>
</head>
<%- include('../partials/header') %>
<body>

    <main>
        <%- body %>
    </main>

</body>
<%- include('../partials/footer') %>
</html>